<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop.xsd
">

       <bean id="waAspect" class="aop.WaAspect"/>
       <bean id="aspectBiz" class="aop.AspectBiz"/>

       <aop:config>
           <!--配置切面-->
          <aop:aspect id="waAspectAop" ref="waAspect">
          <!--配置切点-->
           <aop:pointcut expression="execution(* aop.AspectBiz.*(..))" id="waPointCut"/>
           <!--前置通知-->
           <aop:before method="before" pointcut-ref="waPointCut"/>
          </aop:aspect>
       </aop:config>
</beans>
